*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
}
body {
	line-height: 1;
	background-color: #f5f5f5;
}
.wrapper {
	min-height: 100%;
	max-width: 1020px;
	margin: 0px auto;
}
.promise__header {
	padding-top: 30px;
}
.header-block__icon {
	margin: 0px 16px 0px 0px;
}
.header-block__title {
	font-weight: 700;
	font-size: 12px;
	line-height: 200%;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color: #5d62b5;
	display: inline-block;
	margin-bottom: 33px;
}
.header-block__subtitle {
	font-weight: 900;
	font-size: 36px;
	line-height: 117%;
}
.promise__header {
	margin-bottom: 68px;
}
.promice-items .item:not(:last-child) {
	padding-right: 24px;
}
.promice-items {
	font-size: 0;
}
.item {
	display: inline-block;
	max-width: 33%;
	vertical-align: top;
}

.item__body {
	display: inline-block;
	text-align: right;
	max-width: 75%;
}

.item__title {
	font-weight: 900;
	font-size: 19px;
	line-height: 137%;
	color: #f2726f;
	display: inline-block;
	margin-bottom: 20px;
}
.item__text {
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.15px;
	color: #4b4b4b;
	display: inline-block;
}
.header {
	margin-bottom: 100px;
}

.services__header {
	margin-bottom: 78px;
}
.services-items {
	font-size: 0;
	margin-bottom: 66px;
}
.services-items .services-item:nth-child(1),
.services-items .services-item:nth-child(4) {
	margin-left: 0;
}
.services-items .services-item:nth-child(3),
.services-items .services-item:nth-child(6) {
	margin-right: 0;
}
.services-item {
	width: 324px;
	height: 340px;
	left: 210px;
	background: #ffffff;
	border-radius: 20px;
	display: inline-block;
	margin: 12px;
	text-align: center;
}

.services-item__image {
	margin-top: 50px;
}
.services-item__title {
	font-weight: 900;
	font-size: 19px;
	line-height: 137%;
	color: #f2726f;
}
.services-item__text {
	margin: 20px 46px 49px 43px;
	line-height: 150%;
	letter-spacing: 0.15px;
	color: #4b4b4b;
	font-size: 16px;
}
.services-item_active:hover {
	box-shadow: 0px 16px 24px rgba(38, 38, 38, 0.24), 0px 8px 16px rgba(38, 38, 38, 0.24);
}
div.button {
	text-align: center;
	margin-bottom: 300px;
}
a.button {
	display: inline-block;
	padding: 20px 30px 20px 30px;
	font-weight: 700;
	font-size: 12px;
	letter-spacing: 0.15px;
	text-transform: uppercase;
	color: #ffffff;
	background: #f2726f;
	border-radius: 8px;
}

.footer {
	background: #29c3be url(../img/Bg2.png) 66% 0 no-repeat;
	height: 600px;
}

.impact__header {
	display: inline-block;
	padding: 112px 0px 0px 0px;
	margin-bottom: 33px;
}


.impact__img {
	width: 498px;
	height: 315px;
	border-radius: 40px;
	margin: -85px 0px 0px 224px;
}

.header-block__title_white {
	font-weight: 700;
	font-size: 12px;
	line-height: 200%;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color: #ffffff;
	display: inline-block;
	margin-bottom: 32px;
}
.header-block__subtitle_white {
	font-weight: 900;
	font-size: 36px;
	line-height: 117%;
	color: #ffffff;
	margin-bottom: 34px;
}
.impact-items {
	font-size: 0;
	margin-bottom: 212px;
}
.impact__item {
	display: inline-block;
	width: 25%;
	vertical-align: top;
}
.impact-items .impact__item:not(:last-child) {
	padding-right: 24px;
}
.impact__image {
	margin-right: 11px;
}
.impact__body {
	display: inline-block;
}
.impact__title {
	font-weight: 900;
	font-size: 36px;
	line-height: 117%;
	color: #ffffff;
	display: inline-block;
}
.impact__text {
	font-weight: bold;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.15px;
	color: #5d62b5;
}



